In [ ]:
#edit
#reuse
#organize
#secure?control access
#


# not built on oop --> c++,python,c,js,php
# built on oop--> java ,c#

In [2]:
def printdata():
    list1=["ziad","anas","ahmed","ali","emad"]
    list1.sort()
    for i in list1:
        if i=="ali":
            print("we found ali")
        if i=="ahmed":
            list1.append("amr")  ##appendd 
    for i in list1:
        print(i)

In [2]:
printdata()

we found ali
ahmed
ali
anas
emad
ziad
amr

In [3]:
def intializelist():
    list1=["ahmed","mohamed","ali","amr","hossam"]
    return list1

In [4]:
def searchAli():
    for i in list1:
        if i=="ali":
            print("we found ali")

In [5]:
def addnewelement(element):
    for i in list1:
        if i=="ahmed":
            list1.append(element)

In [6]:
def printFinal(element):
    for i in list1:
        print(i)

In [7]:
list1=intializelist()
print(list1)

['ahmed', 'mohamed', 'ali', 'amr', 'hossam']

In [ ]:
int maxx(int n1,int n2)
float maxx(int n1,int n2) --> signature of func --> DT ,Parameter
maxx(1,2)
int n=max(1,2)

In [ ]:
# Emp job title
# Department
# birthdate
# phone number
# salary
# shift time
# vacations
####
#methods
# function:changeDepartment()
# function:promote()
#function:changeshift()
#function:calculateVecation()
#function:askforpromotion
#function:addnewphone()

In [3]:
class Employee:
    Name=" "
    Salary=" "
    phonenumber=" "
    def changephone(self):
        self.phonenumber="0101233484"

In [5]:
emp1=Employee()

In [7]:
emp1.Name="anas"
emp1.Salary=3000
emp1.phonenumber="011556667788"
emp1.changephone()

emp1.changephone()

In [8]:
emp1.phonenumber

'0101233484'

In [11]:
l=[]
def creatNemployees():
    x=int(input("plz enter how many emp you want"))
    for i in range(x):
        newemp=Employee()
        newemp.Name=input("plz enter emp name")
        l.append(newemp)

In [14]:
obj=creatNemployees()

plz enter how many emp you want3
plz enter emp nameanas
plz enter emp nameemad
plz enter emp nameali

In [17]:
class Human:
    Name=" "
    Age=" "
    height=" "
    def eat(self):
        print("I'm "+self.Name+"and i'm eating")
    def printAge(self):
        print("I'm "+str(self.Age)+"years old")

In [18]:
anas=Human()
type(anas)

__main__.Human

In [19]:
anas.Name="anas emad"  # name--> attribute ,"anas emad"-->value
anas.Age=23
anas.height=165

In [20]:
anas.eat()

I'm anas emadand i'm eating

In [36]:
anas.printAge()

I'm 23years old

In [21]:
obj2=Human()

In [22]:
obj2.Name="ali"
obj2.Age=20
obj2.height=180

In [23]:
obj2.eat()

I'm aliand i'm eating

In [24]:
obj2.printAge()

I'm 20years old

In [25]:
class BankAccount:
    def __init__(self):
        Name=input("plz enter Ur Name")
        Password=input("plz enter Ur password")
        Credit=0
    def addCredit(self):
        newamount=float(input("plz emter how much money you add"))
        self.Credit+=newamount

In [26]:
newAccount=BankAccount()

plz enter Ur Nameahmed
plz enter Ur password123

In [27]:
newAccount.addCredit()

plz emter how much money you add20000

AttributeError: 'BankAccount' object has no attribute 'Credit'

In [28]:
class BankAccount:
    def __init__(self):
        self.Name=input("plz enter Ur Name")
        self.Password=input("plz enter Ur password")
        self.Credit=0
    def addCredit(self):
        newamount=float(input("plz emter how much money you add"))
        self.Credit+=newamount
    def showCredit(self):
        checkPass=input("plz enter Ur password")
        if(checkPass==self.Password):
            print(self.Credit)

In [29]:
new=BankAccount()

plz enter Ur Nameahmed
plz enter Ur password123

In [30]:
new.addCredit()

plz emter how much money you add20000

In [31]:
new.showCredit()

plz enter Ur password123
20000.0

In [32]:
new.Password #--> modifier  __

'123'

In [48]:
f = open("student.txt",'w')

In [49]:
f.write('this is the best file handling session.\n')
f.write('we are the best.\n')
f.write('Ai Session')

10

In [51]:
f.close()

In [52]:
f = open("student.txt",'r')
print(f.readline())
print(f.readline())

this is the best file handling session.

we are the best.

In [54]:
f = open("student.txt",'r')

li=f.readlines()
for i in li:
    print(i)

this is the best file handling session.

we are the best.

Ai Session

In [55]:
f.close()

In [46]:
#Task
# 1-create new class
# 2-create new object
# 3-add object attributes into txt file
# 4-modify class attributes : add new attribute
# 5-read txt file
# 6-apply changes
# 7-save file